[submodule "openvpn-build"]
	path = openvpn-build
	url = git@github.com:OperatorFoundation/openvpn-build.git
[submodule "transports/obfs4/Shapeshifter-obfs4-OpenVPN-Transport-Plugin-C"]
	path = transports/obfs4/shapeshifter-obfs4
	url = git@github.com:OperatorFoundation/Shapeshifter-obfs4-OpenVPN-Transport-Plugin-C.git
[submodule "transports/obfs4/Shapeshifter-obfs4-OpenVPN-Transport-Plugin-Cgo"]
	path = transports/obfs4/shapeshifter-obfs4-go
	url = git@github.com:OperatorFoundation/Shapeshifter-obfs4-OpenVPN-Transport-Plugin-Cgo.git
[submodule "transports/obfs4/Shapeshifter-obfs4-OpenVPN-Transport-Plugin-server-C"]
	path = transports/obfs4/shapeshifter-obfs4-server-1.0
	url = git@github.com:OperatorFoundation/Shapeshifter-obfs4-OpenVPN-Transport-Plugin-server-C.git
[submodule "transports/obfs4/Shapeshifter-obfs4-OpenVPN-Transport-Plugin-server-Cgo"]
	path = transports/obfs4/shapeshifter-obfs4-server-go
	url = git@github.com:OperatorFoundation/Shapeshifter-obfs4-OpenVPN-Transport-Plugin-server-Cgo.git
[submodule "ubuntu/openvpn"]
	path = ubuntu/openvpn
	url = git@github.com:OperatorFoundation/openvpn.git
	branch = transport-api
