# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

transports/obfs4/shapeshifter-obfs4-server-1.0/_CPack_Packages/
transports/obfs4/shapeshifter-obfs4-server-1.0/install_manifest.txt
transports/obfs4/shapeshifter-obfs4-server-1.0/*.deb

plugins/shadow/server-linux/shapeshifter-shadow-server-1.0/CMakeCache.txt
plugins/shadow/server-linux/shapeshifter-shadow-server-1.0/CMakeFiles
plugins/shadow/server-linux/shapeshifter-shadow-server-1.0/cmake_install.cmake
plugins/shadow/server-linux/shapeshifter-shadow-server-1.0/_CPack_Packages
plugins/shadow/server-linux/shapeshifter-shadow-server-1.0/install_manifest.txt
plugins/shadow/server-linux/shapeshifter-shadow-server-1.0/Makefile
plugins/shadow/server-linux/shapeshifter-shadow-server-1.0/shapeshifter-shadow-server-1.0.0-amd64.deb

plugins/obfs4/server-linux/shapeshifter-obfs4-server-1.0/CMakeCache.txt
plugins/obfs4/server-linux/shapeshifter-obfs4-server-1.0/CMakeFiles
plugins/obfs4/server-linux/shapeshifter-obfs4-server-1.0/cmake_install.cmake
plugins/obfs4/server-linux/shapeshifter-obfs4-server-1.0/_CPack_Packages
plugins/obfs4/server-linux/shapeshifter-obfs4-server-1.0/install_manifest.txt
plugins/obfs4/server-linux/shapeshifter-obfs4-server-1.0/Makefile
plugins/obfs4/server-linux/shapeshifter-obfs4-server-1.0/shapeshifter-obfs4-server-1.0.0-amd64.deb


go-build
.idea
go/.idea
.DS_Store
plugins/obfs4/server-linux/shapeshifter-obfs4-server-1.0/include/shapeshifter-obfs4-go.h
